h1{
  color: #E1578A;
  font-family:Arial;
}

p{
  background:#FCD2D1;
}

img {
  border: 3px solid black;
}
article {
    width: 800px;
}

nav ul{
  background-color: PaleVioletRed;
  list-style: none;
  padding: 0;
  width: 200px;
  border: 1px solid MediumVioletRed;
}
nav ul li{
  border-bottom: 1px solid MediumVioletRed;
    padding: 8px;
}

nav ul li: last-child a{
  border-bottom: 0;
}

nav ul li a{
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
