
h1#site-title{
  font-size: 60px;
  letter-spacing:-3px;
  margin-top:0;
  margin-bottom: .125em;
  color: #E1578A;
  font-family:Arial;
  text-align: center;
 max-width:100%;
}

h1#page-title{
  font-size: 30px;
  letter-spacing:-3px;
  color: black;
  font-family:Arial;
  text-align: center;
}

figure.first-image{
  max-width:100%;
  height:auto;
  background:#ffec59;
  margin-bottom: 20px;
  text-align: center;
}

p{
  background:#FCD2D1;
}

img {
  border: 3px solid black;
}
article {
    width: 800px;
}

nav ul{
  background-color: PaleVioletRed;
  list-style: none;
  padding: 0;
  width: 200px;
  border: 1px solid MediumVioletRed;
}
nav ul li{
  border-bottom: 1px solid MediumVioletRed;
    padding: 8px;
}

nav ul li: last-child a{
  border-bottom: 0;
}

nav ul li a{
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
